.features-link {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-item {
  width: 100px;
}

.features-icon {
  display: none;
}

@media and (min-width: 768px) {
  .features-item {
    width: calc ((100% - 20px) / 2);
  }
}

@media and (min-width: 1158px) {
  .features-item {
    width: calc ((100% - 3 * 20px) / 4);
  }

  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
