.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.nav-list,
.header-address {
  display: none;
}

.menu-open-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: flex-start;
  }

  .header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-open-btn {
    display: none;
  }

  .header-address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list,
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }

  .header-address-list,
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
