.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.header-address {
  display: none;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.site-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }

  .site-nav,
  .header-address {
    display: none;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav,
  .header-address {
    display: block;
  }

  .site-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
}
